<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{product.title}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="thumbnail productbox">

                <a ui-sref="viewProduct({id: product._id})">
                    <img src="{{product.imageUrl}}" alt="{{product.title}}" class="img-responsive">
                    <div class="producttitle">{{product.title}}</div>
                </a>
                <p>{{product.description}}</p>


                <div class="productprice">
                    <div class="pull-right">
                        <a class="btn btn-danger btn-sm" role="button" id="{{product._id}}" name="{{product.title}}" price="{{product.price}}" data="product">
                           BUY
                        </a>
                        <a href="#" class="btn btn-sm btn-warning" ng-if="product.stock < 1">
                            <span>Out Of Stock</span>
                        </a>
                    </div>
                    <div class="pricetext">{{product.price | currency }}</div>
                </div>

            </div>
        </div>
    </div>
</div>